version: '3.9'

services:
  app:
    build: ./src
    container_name: app
    volumes:
      - ./src:/opt/app
    networks:
      - app_network

  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: content
    volumes:
      - mongo_db:/data/db
    networks:
      - app_network
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx:/etc/nginx/conf.d:ro
    depends_on:
      - api
    ports:
      - "80:80"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo_db: