
name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 mypy wemake-python-styleguide
        pip install -r src/requirements.txt

#    - name: Lint with flake8
#      run: |
#        flake8 . --select=WPS1,WPS2,WPS3,WPS4,WPS5 --show-source --statistics
#        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Mypy
      run: mypy src/ || true

    - name: Telegram notify (success)
      if: success()
      uses: appleboy/telegram-action@v0.1.1
      with:
        to: ${{ secrets.TG }}
        token: ${{ secrets.TG_BOT }}
        message: |
            BUILD IS OK — ${{ github.repository }}

    - name: Telegram notify (failure)
      if: failure()
      uses: appleboy/telegram-action@v0.1.1
      with:
        to: ${{ secrets.TG }}
        token: ${{ secrets.TG_BOT }}
        message: |
             BUILD IS FAILED — ${{ github.repository }}
